<br>
<br>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  <br> Dolorem soluta libero architecto asperiores neque,
  itaque atque corrupti cum eum consequuntur?
  <br>
  Rem quae voluptatibus quod voluptas voluptatum, asperiores iste repellat nulla?
</p>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  <br>
   Perferendis eligendi,
  corporis asperiores dicta molestiae hic odit tempore ex autem repellendus
  <br> nostrum accusantium quidem earum ab minus expedita omnis explicabo.
  Quibusdam.
</p>
<br>
<br>
<button
class="btn btn-primary">Login With Google</button>
