


<br>
<br>
<br>

<p>product-form works!</p>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae fugit,
  <br>velit asperiores nihil ullam perferendis veritatis quam et at?
  <br>Placeat officiis aliquam tempora saepe! Eligendi sit magni ut inventore?
</p>
<br>
<br>
<form #f="ngForm" (ngSubmit)="(f.value)">
  <div class="form-group">
    <label for="title">Title</label>
    <input ngModel name="title" id="title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">
      <span class="input-group-text">₹</span>
      <input ngModel name="price" id="price" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select ngModel name="category" id="category" class="form-control">
      <option value=""></option>
      <option value=""></option>
    </select>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <select ngModel name="ImageUrl" id="imageUrl" class="form-control">
  </select>
  </div>
  <button class="btn btn-primary">Save</button>


</form>

