
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil labore nisi laudantium animi dolor adipisci molestias facere harum, ab asperiores minus suscipit, perferendis distinctio eius cum totam qui quod tempora.</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
  <br>Placeat voluptates neque molestiae perspiciatis consequuntur odio harum! Officia quidem a,
  <br>
  consectetur tempore magnam consequatur vel debitis suscipit eos dolore necessitatibus? Eos.</p>
<b>
  Add New Products
</b>

<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>

